.button {
  padding: 10px;
  color: $dark_gray;
  background-color: $silver;
  border-radius: 2px;

  &:hover {
    color: $silver;
    background-color: $dark_gray;
    text-decoration: none;
  }
}

.btn.form-button {
  padding: 10px;
  color: $silver;
  background-color: $dark_gray;
  border-radius: 2px;

  &:hover {
    color: $silver;
    text-decoration: none;
    font-weight: bold;
  }
}

.delete-button {
  color: #c23616;
  &:hover {
    text-decoration: none;
    color: #c23616;
    font-weight: bold;
  }
}
