<h1>Cocktails</h1>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/16/15-09-26-RalfR-WLC-0191.jpg')">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
  <% end %>
</div>
