<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="form-input"> <%= f.input :description %> </div>
  <div class="form-input"> <%= f.association :ingredient %> </div>
  <div class="form-input"> <%= f.button :submit,  'Add ingredient', class: 'form-button' %> </div>
<% end %>
