.navbar-lewagon {
  // justify-content: space-between;
  background: $silver;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon i {
  color: $dark_gray;
  font-size: 28px;
}

.nav-link a {
  color: $dark_gray;
  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
