.navbar-lewagon {
  // justify-content: space-between;
  background: $dark_blue;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: $dark_blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon i {
  color: $silver;
  font-size: 28px;
}

.nav-link a {
  color: $silver;
  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
